      <template>
  <div class="main">
     <header data-am-widget="header" class="am-header am-header-default">
      <div class="am-header-left am-header-nav">
        <div v-on:click="gohomeBtn" class="">
          <img src="../assets/back.png">
        </div>
      </div>

      <h1 class="am-header-title">
        我的代理
      </h1>
    </header>
  
  <el-table
      :data="tableData"
        border
      style="width: 100%">
       <el-table-column
        prop="invitecode"
        label="玩家号"
        width="auto"
       >
      </el-table-column>
      <el-table-column
        prop="nick"
        label="玩家名"
        width="auto">
      </el-table-column>
      <el-table-column
        prop="daililevel"
        label="代理级别"
        width="auto">
      </el-table-column>  
       <el-table-column
        prop="operation"
        label="操作"
        width="auto"
        v-if ="isyijidaili"
        >
        <template slot-scope="scope">
        <el-button
          @click.native.prevent="renmingagent(scope.$index, tableData)"
          type="text"
          size="small">
        任命为代理
        </el-button>
      </template>
      </el-table-column>
    </el-table>
    </div>
  </template>

  <script>
    export default {
      data() {
        return {
          tableData:[],
          isyijidaili:false
        }
      },
      methods:{
        gohomeBtn: function(){
          this.$router.push('/');
        },
        
        renmingagent:function(index, tableData){
          console.log(tableData[index].invitecode);
                 $.ajax({
      type: "get",
      url: "http://localhost:80/renmingagent?invitecode=" + tableData[index].invitecode,
      data: "",
      dataType: "json", 
      success: function (response) {
        console.log(response.result);
console.log("chenggong");
window.location.reload();
      },
      error:function(){
        console.log("err");
      }
    });

        }
      },

      mounted:function(){
          var  that  =  this;
        $.ajax({
      type: "get",
      url: "http://localhost:80/myagent?uid=" + 27262025,
      data: "",
      dataType: "json", 
      success: function (response) {
        console.log(response.result);
 that.tableData = response.result;
console.log(response.daililevel);
console.log(response.result);
if(response.daililevel ==1){
  that.isyijidaili = true;
}
      },
      error:function(){
        console.log("err");
      }
    });
    }
}
  </script>
  <style >
  .el-form-item{
    margin-bottom:0px;
}
  span.he {
    color: cornflowerblue;
  }

  .el-dialog {
    width: 80% !important;
  }

  </style>
  