<template>
  <div class="main">

  <div data-am-widget="slider" class="am-slider am-slider-default" data-am-slider='{}' >
  <ul class="am-slides">
      <li>
        	<img src="http://s.amazeui.org/media/i/demos/bing-1.jpg">
         
      </li>
      <li>
        	<img src="http://s.amazeui.org/media/i/demos/bing-2.jpg">
         
      </li>
      <li>
        	<img src="http://s.amazeui.org/media/i/demos/bing-3.jpg">
         
      </li>
     
  </ul>
</div>
<div class="am-g first_row">
  <div class="am-u-sm-6"   v-on:click= "diamond" ><img  class="btn-icon" src="../assets/diamond.png" alt=""></div>
  <div class="am-u-sm-6" v-on:click= "earning"><img  class="btn-icon" src="../assets/earning.png" alt=""></div>
</div>
<div class="am-g  second-row">
  <div class="am-u-sm-6 text"   >钻石流水</div>
  <div class="am-u-sm-6 text" >收入查询</div>
</div>

<div class="am-g  third-row">
  <div class="am-u-sm-6"   v-on:click= "club" ><img  class="btn-icon" src="../assets/club.png" alt=""></div>
  <div class="am-u-sm-6"   v-on:click= "agent"><img  class="btn-icon" src="../assets/agent.png" alt=""></div>
</div>
<div class="am-g  fouth-row">
  <div class="am-u-sm-6 text" >俱乐部</div>
  <div class="am-u-sm-6 text"  >我的代理</div>
</div>




  
  </div>
</template>

<script>
export default {
  name: 'agentpage',
  data () {
    return {
      
    }
  },
  methods:{
diamond:function(){
  this.$router.push("/diamond");
},
earning:function(){
  this.$router.push("/earningQuery");
},
club:function(){
  this.$router.push("/agent_club");
},
agent:function(){
  this.$router.push("/agent_agentinfo");
},

  },
  mounted:function(){

        $(function() {
    var $slider = $('#demo-slider-0');
    var counter = 0;
    var getSlide = function() {
      counter++;
      return '<li><img src="http://s.amazeui.org/media/i/demos/bing-' +
        (Math.floor(Math.random() * 0) + 1) + '.jpg" />' +
       '</li>';
    };

    $('.js-demo-slider-btn').on('click', function() {
      var action = this.getAttribute('data-action');
      if (action === 'add') {
        $slider.flexslider('addSlide', getSlide());
      } else {
        var count = $slider.flexslider('count');
        count > 1 && $slider.flexslider('removeSlide', $slider.flexslider('count') - 1);
      }
    });

  });
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

.btn-icon{
  width:40px;
  height:auto;
}
.test{
    padding-top:0px;
}
.first_row{
    padding-top:60px;
}
.third-row{
    padding-top:30px;
}

</style>
