
<template>
  <div class="main">
      <header data-am-widget="header"
          class="am-header am-header-default">
      <div class="am-header-left am-header-nav">
          <div  v-on:click="gohomeBtn" class="">
             <img src="../assets/back.png">
          </div>
      </div>

      <h1 class="am-header-title">
        俱乐部
      </h1>
  </header>
<el-tabs type="border-card">
  <el-tab-pane  id="halfwidth" label="开桌统计">

    <table class="am-table am-table-bordered">

    <thead>
        <tr class ="am-active">
            <th></th>
            <th>昨天</th>
            <th>前天</th>
                <th>大前天</th>
        </tr>
    </thead>
    <tbody>
        <tr  class ="am-success">
            <td class="td">开桌数</td>
            <td class="td">{{count_day1}} </td>
            <td class="td">{{count_day2}}</td>
            <td class="td">{{count_day3}}</td>
        </tr>
        <tr class ="am-primary">
            <td class="td" >耗钻数</td>
            <td class="td" >{{diamond_day1}}</td>
            <td class="td" >{{diamond_day2}}</td>
            <td class="td">{{diamond_day3}}</td>
        </tr>
       
      
    </tbody>
</table>
 <div class="am-g agent_club">
      <div class="am-u-sm-3">
        <button type="button" class="am-btn-xs am-btn am-btn-secondary">今天</button>
      </div>
      <div class="am-u-sm-3">
        <div class="block">
          <!-- <span class="demonstration">默认</span> -->
          <el-date-picker v-model="value1" type="date" placeholder="开始日期">
          </el-date-picker>
        </div>
      </div>
      <div class="am-u-sm-3">
        <div class="block">
          <!-- <span class="demonstration">默认</span> -->
          <el-date-picker v-model="value2" type="date" placeholder="结束日期">
          </el-date-picker>
        </div>
      </div>
      <div class="am-u-sm-3">
        <button type="button" class="am-btn-xs am-btn am-btn-primary" @click="querybtn"> 查询</button>
      </div>
    </div>
       <table class=" agent_table am-table am-table-bordered am-table-striped am-table-compact">
      <thead>
        <tr>
          <th>俱乐部</th>
          <th>开桌数</th>
          <th>钻石</th>

        </tr>
      </thead>
      <tbody>
        <tr>
          <!-- <td>2012-10-01</td>
          <td>100</td>
          <td>充值</td> -->
         <td  colspan="3">  <span >{{data}}</span>
         

         </td>

        </tr>
       

      </tbody>
    </table>
  </el-tab-pane>
  <el-tab-pane id="halfwidth" label="今日详情"><el-card class="box-card">
<table class="agent_table am-table am-table-bordered am-table-striped am-table-compact">
    <thead>
    </thead>
    <tbody>
        <tr>
            <td  colspan="2" style="width:100%">{{user1id}}({{user1name}})</td>
        </tr>
        <tr>
           
             <td>游戏类型：{{game1type}}</td>
            <td>今日开桌数：{{playedcount}}</td>
        </tr>
         <tr>
             <td>会员数</td>
             <td>今日消耗</td>
         </tr>
         <tr>
             <td colspan="2">累计消耗</td>
         </tr>
    
        
    </tbody>
</table>
</el-card>


<el-card class="box-card  second_card">

<table class="agent_table am-table am-table-bordered am-table-striped am-table-compact">
    <thead>
    </thead>
    <tbody>
        <tr>
            <td  colspan="2" style="width:100%">{{user1id}}({{user1name}})</td>
        </tr>
        <tr>
           
             <td>游戏类型：{{game1type}}</td>
            <td>今日开桌数：{{playedcount}}</td>
        </tr>
         <tr>
             <td>会员数</td>
             <td>今日消耗</td>
         </tr>
         <tr>
             <td colspan="2">累计消耗</td>
         </tr>
    
        
    </tbody>
</table>



</el-card></el-tab-pane>
  
</el-tabs>

 
      </div>   
</template>

<script>
export default {
  name: 'agent_club',
  data () {
    return {
        data:"该段时间没有查询数据",
        user1id:0,
        user1name:0,
        user2name:0,
        game1type:0,
        playedcount:0,
        count_day1:0,
        count_day2:0,
        count_day3:0,
        diamond_day1:0,
        diamond_day2:0,
        diamond_day3:0,
        value1:0,
        value2:0,
        user2id:0,
        user1id:0 


      
    }
  },
  mounted:function(){
      
$.ajax({
      type: "get",
      url: "http://localhost:80/agent_club",
      data: "uid=100024",
      dataType: "json",
      success: function (response) {
          var  tbody = document.getElementsByTagName("tbody");
   const dataarr = response;
   var  count ;
    for(var  key in dataarr){
        count ++;

        var  html  =  "<tr><td>"+ dataarr[key].time +"</td><td>" + dataarr[key].num+ "</td><td>"+dataarr[key].way ;

       $("tbody").append(html);
    }
    


      },
      error:function(){
        console.log("err");
      }
    });

  },
  methods:{
      gohomeBtn:function(){
    
          this.$router.push("/");
      },
      querybtn:function(){


      }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style >
.agent_table{
    font-size: 16px;
}
.el-card__body{
    padding:0px;
}
.second_card{
    margin-top:10px;
}
.agent_table{
    margin-top:10px;
}
  .el-input--prefix .el-input__inner {
    padding: 0px;
  }

  .el-input__icon:before {
    display: none;
    content: '';
  }

  .el-input__inner {
    margin: 0px;
    padding: 0px;
    width: 60px;
    line-height: 30px;
    height: 30px;

  }
.agent_club.am-g{
    margin-top:10px;
}
th{
    text-align: center;
}
.is-active{
    background-color: blue;
}
#halfwidth{
    width:50%;
}
.el-tabs__nav{
    width:100%;
}
.el-tabs__item{
    width:50%;
}



</style>
