<template>
  <div class="main">
      <header data-am-widget="header"
          class="am-header am-header-default">
      <div class="am-header-left am-header-nav">
          <div  v-on:click="gohomeBtn" class="">
             <img src="../assets/back.png">
          </div>
      </div>

      <h1 class="am-header-title">
      任务获得钻石明细
      </h1>
  </header>

  <table class="am-table am-table-bordered am-table-striped am-table-compact">
  <thead>
  <tr>
    <th>时间</th>
    <th>钻石数量</th>
    <th>来源</th>
    
  </tr>
  </thead>
  <tbody>

  
  </tbody>
</table>
      </div>   
</template>

<script>
export default {
  name: 'detail2',
  data () {
    return {
      
    }
  },
  mounted:function(){
 $.ajax({
      type: "get",
      url: "http://localhost:80/detail3",
      data: "uid=100029",
      dataType: "json",
      success: function (response) {
          var  tbody = document.getElementsByTagName("tbody");
   const dataarr = response;
   var  count ;
    for(var  key in dataarr){
        count ++;

        var  html  =  "<tr><td>"+ dataarr[key].time +"</td><td>" + dataarr[key].num+ "</td><td>"+dataarr[key].way ;

       $("tbody").append(html);
    }
    


      },
      error:function(){
        console.log("err");
      }
    });

  },
  methods:{
      gohomeBtn:function(){
    
          this.$router.push("/");
      }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.am-header .am-header-title{
     margin:0;
     overflow: hidden;
 }
/* ul{
    width:100%;
}
li{
      width:100%;
    padding:0px;
} */
th{
    text-align: center;
}
.test{
    padding-top:0px;
}
.first_row{
    padding-top:60px;
}
.third-row{
    padding-top:30px;
}
/* .second_row{
    padding-top:40px;
} */
/* h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
} */
</style>
