<template>
  <div class="diamond">

  <header data-am-widget="header"
          class="am-header am-header-default">
      <div class="am-header-left am-header-nav">
          <div  v-on:click="gohomeBtn" class="">
             <img src="../assets/back.png">
          </div>
      </div>

      <h1 class="am-header-title">
        钻石流水
      </h1>
  </header>
  <div class="am-panel-group" id="accordion">
  <div class="am-panel am-panel-default">
    <div class="am-panel-hd">
      <h4 class="am-panel-title" data-am-collapse="{parent: '#accordion', target: '#do-not-say-1'}">
        
     获得钻石<span  class="leiji">(累计获得：{{recharge_get_diamondnumber+  active_get_diamondnumber+ task_get_diamondnumber}})</span>
      </h4>
    </div>
     <!-- <div class="am-panel-bd">
        获得钻石
        
      </div> -->
<div class="am-g fir_row">
  <div class="am-u-sm-4  am-u-md-4"><span class="recharge_get">充值获得</span></div>
  <div class="am-u-sm-4 am-u-md-4"><span class="recharge_get">{{recharge_get_diamondnumber}}</span></div>
   <div class="am-u-sm-4 am-u-md-4" v-on:click="detail1"><span  class="chakan_mingxi">查看明细</span></div>
</div>
<div class="am-g">
  <div class="am-u-sm-4  am-u-md-4"><span class="active_get">活动获得</span></div>
  <div class="am-u-sm-4 am-u-md-4"><span class="active_get">{{active_get_diamondnumber}}</span></div>
   <div class="am-u-sm-4 am-u-md-4" v-on:click="detail2"><span  class="chakan_mingxi">查看明细</span></div>
</div>
<div class="am-g">
  <div class="am-u-sm-4  am-u-md-4"><span class="renwu_get">任务获得</span></div>
  <div class="am-u-sm-4 am-u-md-4"><span class="renwu_get">{{task_get_diamondnumber}}</span></div>
   <div class="am-u-sm-4 am-u-md-4" v-on:click="detail3"><span  class="chakan_mingxi">查看明细</span></div>
</div>
     

  </div>
  
 
</div>
  <div class="am-panel-group" id="accordion">
  <div class="am-panel am-panel-default">
    <div class="am-panel-hd">
      <h4 class="am-panel-title" data-am-collapse="{parent: '#accordion', target: '#do-not-say-1'}">
     消耗钻石<span  class="leiji">(累计消耗：{{diamond_used_1 + diamond_used_2}})</span>
      </h4>
    </div>
     <!-- <div class="am-panel-bd">
        获得钻石
        
      </div> -->
<div class="am-g fir_row">
  <div class="am-u-sm-4  am-u-md-4"><span class="kaifang1">个人开房</span></div>
  <div class="am-u-sm-4 am-u-md-4"><span class="kaifang1">{{diamond_used_1}}</span></div>
   <div class="am-u-sm-4 am-u-md-4" v-on:click="detail4" ><span  class="chakan_mingxi">查看明细</span></div>
</div>
<div class="am-g">
  <div class="am-u-sm-4  am-u-md-4"><span class="kaifang2">俱乐部开房</span></div>
  <div class="am-u-sm-4 am-u-md-4"><span class="kaifang2">{{diamond_used_2}}</span></div>
   <div class="am-u-sm-4 am-u-md-4" v-on:click="detail5"><span  class="chakan_mingxi">查看明细</span></div>
</div>
     

  </div>
  
 
</div>
  
  </div>
</template>

<script>
export default {
  name: 'agentPage',
  data () {
    return {
      recharge_get_diamondnumber:0,
      active_get_diamondnumber:0,
      task_get_diamondnumber:0,
      diamond_used_1:0,
      diamond_used_2:0
      
    }
  },
//   computes:{
// diamond_count:function(){
//   return  recharge_get_diamondnumber +  active_get_diamondnumber;
// }
//   },
  methods:{
    gohomeBtn:function(){
      this.$router.push("/");
    },
    detail1:function(){
      this.$router.push("/detail1");
    },
    detail2:function(){
      this.$router.push("/detail2");
    },
    detail3:function(){
      this.$router.push("/detail3");
    },
    detail4:function(){
      this.$router.push("/detail4");
    }, 
     detail5:function(){
      this.$router.push("/detail5");
    }
  },
  mounted:function(){
    // this.recharge_get_diamondnumber=  60;
var  that  =  this;
    $.ajax({
      type: "get",
      url: "http://localhost:80/diamond",
      data: "uid=100029",
      dataType: "json",
      success: function (response) {
     
        var  list =[];
        for(var i = 0; i < response['result'].length; i++){
         
           list[i] = response['result'][i][0]['result'];
                   if( list[i] == null){
                     list[i] =0;
                   }
                   if(list[i] < 0){
                     list[i] = Math.abs(list[i]);
                   }
        }
    
        console.log(this.recharge_get_diamondnumber);
        that.recharge_get_diamondnumber = list[0];
         that.active_get_diamondnumber= list[1],
      that.task_get_diamondnumber= list[2],
      that.diamond_used_1= list[3],
      that.diamond_used_2= list[4]
      },
      error:function(){
        console.log("qingqiushibai");
      }
    });

        $(function() {
    var $slider = $('#demo-slider-0');
    var counter = 0;
    var getSlide = function() {
      counter++;
      return '<li><img src="http://s.amazeui.org/media/i/demos/bing-' +
        (Math.floor(Math.random() * 0) + 1) + '.jpg" />' +
       '</li>';
    };

    $('.js-demo-slider-btn').on('click', function() {
      var action = this.getAttribute('data-action');
      if (action === 'add') {
        $slider.flexslider('addSlide', getSlide());
      } else {
        var count = $slider.flexslider('count');
        count > 1 && $slider.flexslider('removeSlide', $slider.flexslider('count') - 1);
      }
    });

  });
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
/* ul{
    width:100%;
}
li{
      width:100%;
    padding:0px;
} */
.renwu_get{
  color:cadetblue;
}
.leiji{
  color:red;
}
.chakan_mingxi{
  color :#0072E3;
}
.kaifang1{
  color:#0080FF;

}
.kaifang2{
  color:#00FFFF;
}
.recharge_get{
  color:red;
}
.active_get{
  color:#FFD306;
}
.fir_row{
  margin-top:5px;
} 
 .am-g{height:40px;}
.am-panel{
  margin-top:30px;
}
.am-panel-bd{
  display: block;
}
.downloadBtn{
    background-color:blue;
    font-size:13px;
    width:80px;
    height:30px;
    line-height:30px;   
    color:white;
    border-radius:5px;
}
.test{
    padding-top:0px;
}
.first_row{
    padding-top:60px;
}
.third-row{
    padding-top:30px;
}
/* .second_row{
    padding-top:40px;
} */
/* h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
} */
</style>
