<template>
  <div class="main">

  <div data-am-widget="slider" class="am-slider am-slider-default" data-am-slider='{}' >
  <ul class="am-slides">
      <li>
        	<img src="http://s.amazeui.org/media/i/demos/bing-1.jpg">
         
      </li>
      <li>
        	<img src="http://s.amazeui.org/media/i/demos/bing-2.jpg">
         
      </li>
      <li>
        	<img src="http://s.amazeui.org/media/i/demos/bing-3.jpg">
         
      </li>
     
  </ul>
</div>


<div class="am-g">
  <div class="am-u-sm-3  first-row  downloadBtn am-u-sm-centered"><a href="">下载游戏</a></div>
</div>
<div class="am-g qrcode">
  <div class="am-u-sm-3  first-row   am-u-sm-centered">
      <img src="">

  </div>
</div>







  
  </div>
</template>

<script>
export default {
  name: 'downloadpage',
  data () {
    return {
      
    }
  },
  mounted:function(){

        $(function() {
    var $slider = $('#demo-slider-0');
    var counter = 0;
    var getSlide = function() {
      counter++;
      return '<li><img src="http://s.amazeui.org/media/i/demos/bing-' +
        (Math.floor(Math.random() * 0) + 1) + '.jpg" />' +
       '</li>';
    };

    $('.js-demo-slider-btn').on('click', function() {
      var action = this.getAttribute('data-action');
      if (action === 'add') {
        $slider.flexslider('addSlide', getSlide());
      } else {
        var count = $slider.flexslider('count');
        count > 1 && $slider.flexslider('removeSlide', $slider.flexslider('count') - 1);
      }
    });

  });
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
/* ul{
    width:100%;
}
li{
      width:100%;
    padding:0px;
} */
.downloadBtn{
    background-color:blue;
    font-size:13px;
    width:80px;
    height:30px;
    line-height:30px;   
    color:write;
    border-radis:5px;
}
.test{
    padding-top:0px;
}
.first_row{
    padding-top:60px;
}
.third-row{
    padding-top:30px;
}
/* .second_row{
    padding-top:40px;
} */
/* h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
} */
</style>
