<template>
  <div class="main">
    <header data-am-widget="header" class="am-header am-header-default">
      <div class="am-header-left am-header-nav">
        <div v-on:click="gohomeBtn" class="">
          <img src="../assets/back.png">
        </div>
      </div>


      <h1 class="am-header-title">
        我的收入
        <!-- 收入总额:{{next_recharge_count1 + next_recharge_count2}}元 -->
      </h1>
    </header>

    <!-- <div class="am-g earningquery">
      <div class="am-u-sm-3">
        <button type="button" v-on:click="today" class="am-btn-xs am-btn am-btn-secondary">今天</button>
      </div>
      <div class="am-u-sm-3">
        <div class="block">
        
          <el-date-picker v-model="value1" type="date" placeholder="开始日期">
          </el-date-picker>
        </div>
      </div>
      <div class="am-u-sm-3">
        <div class="block">
   
          <el-date-picker v-model="value2" type="date" placeholder="结束日期">
          </el-date-picker>
        </div>
      </div>
      <div class="am-u-sm-3">
        <button type="button" class="am-btn-xs am-btn am-btn-primary" @click="querybtn"> 查询</button>
      </div>
    </div> -->
    <!-- <p class="texttext">我的下级代理充值总额:
      <span class=number> {{next_recharge_count1}}</span> 元</p> -->
    <el-table :data="tableData" border style="width: 100%">
      <el-table-column prop="month" label="月份" width="auto">
      </el-table-column>
      <el-table-column prop="cash" label="收入" width="auto">
      </el-table-column>
      <el-table-column prop="operation" label="操作" width="auto" v-if="isyijidaili">
        <template slot-scope="scope">
          <el-button v-if='isshow[scope.$index] == 1' @click.native.prevent="tixian(scope.$index, tableData)" type="text" size="small">
            提现
          </el-button>
        </template>
      </el-table-column>
    </el-table>
    <p style="color:red; font-size:14px; text-align:left;padding-left:8px;"> *提现说明:
      <br/> 客服处理提现审核3到5个工作日，请耐心等候</p>
  </div>
</template>

<script>
  export default {
    name: 'earningquery',
    data() {
      return {
        tableData: [],
        isshow: [],
        isyijidaili: 'true',
        next_recharge_count1: 0,
        next_recharge_count2: 0,
        value1: "",
        value2: ""
      }
    },
    mounted: function () {
      var that = this;
      const url = "http://localhost/earningquery?uid=" + "27262025";
      $.ajax({
        type: "get",
        url: url,
        data: "",
        dataType: "json",
        success: function (response) {
          that.tableData = response.result;
          var obj = {};
          obj.owner = "27262025";
          obj.month = that.tableData;

          var arr = that.tableData;
          for (let i = 0; i < arr.length; i++) {
            console.log(arr[i]['month']);
          }

          var url1 = "http://localhost/query_sys_order";

          $.ajax({
            type: "post",
            url: url1,
            data: obj,
            dataType: "json",
            success: function (response) {
              console.log(response.result);
              that.isshow = response.result;
    Date.prototype.Format = function (fmt) { //author: meizz 
                var o = {
                  "M+": this.getMonth() + 1, //月份 
                  "d+": this.getDate(), //日 
                  "h+": this.getHours(), //小时 
                  "m+": this.getMinutes(), //分 
                  "s+": this.getSeconds(), //秒 
                  "q+": Math.floor((this.getMonth() + 3) / 3), //季度 
                  "S": this.getMilliseconds() //毫秒 
                };
                if (/(y+)/.test(fmt)) fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 -
                  RegExp.$1.length));
                for (var k in o)
                  if (new RegExp("(" + k + ")").test(fmt)) fmt = fmt.replace(RegExp.$1, (RegExp.$1.length ==
                    1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
                return fmt;
              }
              var date = new Date().Format('yyyy/M');
              console.log(date);

              for(var i=0;i<that.tableData.length;i++){
if(date == that.tableData[i]['month']){
  console.log("-------------------");
  console.log(i);
  that.isshow[i] = 0;
}
              }
          


            },

            error: function (err) {
              console.log("err");
            }
          });
        },
        error: function (err) {
          console.log("err");
        }
      });
    },
    methods: {
      tixian(index, tableData) {
        console.log(tableData[index]['month']);
        var url2 = "http://localhost/tixian";
        $.ajax({
          type: "get",
          url: url2,
          data: {
            'uid': 27262025,
            'month': tableData[index]['month'],
            'cash': tableData[index]['cash']
          },
          dataType: "json",
          success: function (response) {
            alert(response.result);
            window.location.reload();

          },
          error: function (err) {
            alert(response.result);
            window.location.reload();
          }
        });


      },
      gohomeBtn: function () {

        this.$router.push("/");
      },
      querybtn: function () {},
      today: function () {
        var d = new Date();
        var year = d.getFullYear();
        var month = d.getMonth() + 1; //0 -11
        var day = d.getDate();
        var date = year + "-" + month + "-" + day;
        this.value1 = date;
      }
    }
  }

</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>
  button {
    border-radius: 5px !important;
  }

  .el-input--prefix .el-input__inner {
    padding: 0px;
  }

  .el-input__icon:before {
    display: none;
    content: '';
  }

  .el-input__inner {
    margin: 0px;
    padding: 0px;
    width: 60px;
    line-height: 30px;
    height: 30px;

  }

  i {
    display: none;
  }

  .date {
    margin: 0px;
    padding: 0px;
  }

  .am-g.earningquery {
    margin-top: 20px;
  }

  .am-header .am-header-title {
    margin: 0;
    overflow: hidden;
  }

  .texttext {
    color: cornflowerblue;
    font-size: 14px;
    margin-bottom: 0px;
    text-align: left;
    margin-left: 5px;
  }

  .number {
    color: red;
  }



  th {
    text-align: center;
  }

  .test {
    padding-top: 0px;
  }

  .first_row {
    padding-top: 60px;
  }

  .third-row {
    padding-top: 30px;
  }

</style>
