<template>
  <div class="main">
    <header data-am-widget="header" class="am-header am-header-default">
      <div class="am-header-left am-header-nav">
        <div v-on:click="gohomeBtn" class="">
          <img src="../assets/back.png">
        </div>
      </div>

      <h1 class="am-header-title">
        我的代理
      </h1>
    </header>
    <el-table :data="tableData" border style="width: 100%">
      <el-table-column class="visible" prop="invitecode" label="代理ID" width="auto" style="display:none">
      </el-table-column>
      <el-table-column prop="wxunionid" label="微信号" width="auto">
      </el-table-column>
      <el-table-column prop="nick" label="昵称" width="auto">
      </el-table-column>
      <el-table-column prop="daililevel" label="级别">
      </el-table-column>
      <el-table-column prop="state" label="操作" width="auto">
        <template slot-scope="scope">
          <el-button v-if='tableData[scope.$index].daililevel == 1' @click.native.prevent="jiangji(scope.$index, tableData)" type="text"
            size="small">降级</el-button>
          <el-button v-else @click.native.prevent="shengji(scope.$index, tableData)" type="text" size="small">升级</el-button>
          <el-button @click.native.prevent="jiechu(scope.$index, tableData)" type="text" size="small">解除</el-button>
        </template>
      </el-table-column>
    </el-table>

    <el-button type="text" @click="dialogFormVisible = true">添加新代理</el-button>
    <el-dialog :width="dialogwidth" id="dialog" title="添加新代理" :visible.sync="dialogFormVisible">
      <el-form :model="form">
        <el-form-item id="style1" :label-width="formLabelWidth">
          <el-input id="invitecodeinput" @change='show' placeholder="请输入游戏ID" v-model="form.invitecode" auto-complete="off"></el-input>
        </el-form-item>
        <span style="color:red;font-size:12px">{{prompt}}</span>
        <el-form-item id="style2" :label-width="formLabelWidth">
          <el-input placeholder="请输入微信号" v-model="form.wechat" auto-complete="off"></el-input>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="cancel">取 消</el-button>
        <el-button type="primary" @click="addagent">确 定</el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>
  export default {
    name: 'kf_agentinfo',
    data() {
      return {
        tableData: [],
        dialogFormVisible: false,
        dialogTableVisible: false,
        dialogFormVisible: false,
        form: {
          invitecode: '',
          wechat: ''

        },
        formLabelWidth: 'auto',
        dialogwidth: "90%",
        prompt: ""

      }
    },
    mounted: function () {
      var that = this;
      $.ajax({
        type: "get",
        url: "http://localhost:80/kf_myagent",
        data: "",
        dataType: "json",
        success: function (response) {
          that.tableData = response['result'];
          console.log(response);
          for (let i = 0; i < response.length; i++) {
            console.log(response[i]['nick']);
          }
        },
        error: function () {
          console.log("err");
        }
      });
    },

    methods: {
      cancel: function () {
        this.dialogFormVisible = false;
        this.prompt = '';
      },

      //检测是否为代理
      show: function () {

        var that = this;
        that.prompt = '';
        var invitecode = that.form.invitecode;
        console.log(invitecode);
        $.ajax({
          type: "get",
          url: "http://localhost:80/isagent?invitecode=" + invitecode,
          data: "",
          dataType: "json",
          success: function (response) {
            console.log(response.result.data.nick);
            that.prompt = '该玩家昵称：' + response.result.data.nick;


          },
          error: function (err) {

            if (err.responseJSON.result.data !== '') {
              that.prompt = err.responseJSON.result.message + "(代理名称：" + err.responseJSON.result['data']['nick'] +
                ",代理id：" + err.responseJSON.result['data']['daililevel'] + ")";
            } else {
              that.prompt = err.responseJSON.result.message
            };
          }
        });
      },

      //添加代理
      addagent: function () {
        if (this.form.invitecode == '') {
          alert("请输入有效游戏ID");
        } else {
          this.dialogFormVisible = false;
          var invitecode = this.form.invitecode;
          $.ajax({
            type: "get",
            url: "http://localhost:80/addagent?invitecode=" + invitecode,
            data: "uid=100029",
            dataType: "json",
            success: function (response) {
              alert(response.result);
              window.location.reload();
            },
            error: function () {
              alert(response.result);
              window.location.reload();
            }
          });
        }

      },

      //升级
      shengji(index, rows) {
        console.log(this.tableData[index].invitecode);

        $.ajax({
          type: "get",
          url: "http://localhost:80/shengji?invitecode=" + this.tableData[index].invitecode,
          data: "",
          dataType: "json",
          success: function (response) {
            alert(response.result);
            window.location.reload();
          },
          error: function () {
            alert("代理升级操作失败");
            window.location.reload();
          }
        });

      },

      //降级
      jiangji(index, rows) {
        console.log("jiangji");
        $.ajax({
          type: "get",
          url: "http://localhost:80/jiangji?invitecode=" + this.tableData[index].invitecode,
          data: "",
          dataType: "json",
          success: function (response) {
            if (response.result) {
              alert(response.result);
              window.location.reload();
            }
          },
          error: function () {
            alert("代理降级操作失败");
            window.location.reload();
          }
        });

      },

      //解除
      jiechu: function (index, rows) {
        console.log(this.tableData[index].invitecode);
        console.log("jiechu");
        $.ajax({
          type: "get",
          url: "http://localhost:80/jiechu?invitecode=" + this.tableData[index].invitecode,
          data: "",
          dataType: "json",
          success: function (response) {
            alert(response.result);
            window.location.reload();
          },
          error: function () {
            alert("代理解除操作失败");
            //  window.location.reload();
          }
        });
      },
      gohomeBtn: function () {

        this.$router.push("/");
      }
    }
  }

</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .el-button+.el-button {
    margin: 0px;
  }

  #style1 {
    margin-bottom: 0px;
  }

  #style2 {
    margin-top: 22px;
  }

  /* .am-header-default{
    background-color: #FFFFFF;
    color:blue;
} */

  /* .second_row{
    padding-top:40px;
} */

  /* h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
} */

</style>
