<template>
  <div class="main">
    <!-- 头部 -->
    <header data-am-widget="header" class="am-header am-header-default">
      <div class="am-header-left am-header-nav">
        <div v-on:click="gohomeBtn" class="">
          <img src="../assets/back.png">
        </div>
      </div>

      <h1 class="am-header-title">
        俱乐部
         
      </h1>
    </header>
 
    <el-button type="text" @click="dialogFormVisible = true">创建俱乐部</el-button>
   
    <el-dialog :width="dialogwidth" id="dialog" title="创建俱乐部" :visible.sync="dialogFormVisible">
      <el-form :model="form">
        <el-form-item id="style1" :label-width="formLabelWidth" label="   ">
          <el-input id="invitecodeinput" @change='show' placeholder="渠道号：20003" readonly="readonly" auto-complete="off"></el-input>
        </el-form-item>
        <el-form-item id="style1" :label-width="formLabelWidth">
          <el-input id="invitecodeinput" @change='show' placeholder="请输入俱乐部名称" v-model="form.clubname" auto-complete="off"></el-input>
        </el-form-item>
        <span style="color:red;font-size:12px">{{prompt}}</span>
        <el-form-item id="style2" :label-width="formLabelWidth">
          <el-input placeholder="请输入会长ID" v-model="form.clubmaster_id" auto-complete="off"></el-input>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="cancel">取 消</el-button>
        <el-button type="primary" @click="addclub">提交</el-button>
      </div>
    </el-dialog>

    <el-table :data="tableData" border style="width: 100%">
      <el-table-column class="visible" prop="clubid" label="俱乐部ID" width="auto" style="display:none">
      </el-table-column>
      <el-table-column prop="clubname" label="俱乐部名称" width="auto">
      </el-table-column>
      <el-table-column prop="clubmaster" label="会长ID" width="auto">
      </el-table-column>
      <el-table-column prop="nick" label="会长昵称">
      </el-table-column>
   
      <el-table-column prop="weixinhao" label="解散操作" width="auto">
        <template slot-scope="scope">
          <el-button type="text" @click="dissolvebtn(scope.$index)">解散</el-button>
          <el-dialog title="" :visible.sync="dialogVisible" width="30%" :before-close="handleClose">
            <span>解散公会后所有成员都将退出公会哦</span>
            <span slot="footer" class="dialog-footer" v-bind:index =scope.$index>
              <el-button @click="dialogVisible = false">取消解散</el-button>
              <el-button type="primary" @click="dissolve(tableData)">确定解散</el-button>
            </span>
          </el-dialog>
        </template>
        <!-- <template slot-scope="scope">
        <el-button
          @click.native.prevent="jiesan(scope.$index, tableData)"
          type="text"
          size="small">
          解散
        </el-button>
      </template> -->
      </el-table-column>
    </el-table>
  </div>
</template>

<script>
  export default {
    data() {
      return {
        tableData: [],
        dialogFormVisible: false,
        dialogTableVisible: false,
        dialogFormVisible: false,
        dialogVisible: false,
        visible: " display:  none;",
        formLabelWidth: 'auto',
        dialogwidth: "90%",
        prompt: "",
        index:"",
        form: {
          clubname: '',
          clubmaster_id: ''

        },
        ruleForm: {
          clubid: '',
          clubmaster_id: ''
        },
        rules: {
          clubid: [{
            required: true,
            message: '请输入俱乐部名称',
            trigger: 'blur'
          }, ],
          clubmaster_id: [{
            required: true,
            message: '请输入会长ID',
            trigger: 'change'
          }]
        }
      }
    },

    methods: {
      dissolvebtn:function(index){
        this.dialogVisible = true;
        this.index = index;
      
    // console.log
      },
      handleClose: function () {},

// 确定解散
      dissolve: function (tableData){
      var  index = this.index;
      var  clubid = tableData[index]['clubid'];    
      var  clubmaster  =  tableData[index]['clubmaster'];
      var  nick = tableData[index]['nick'];
        this.dialogVisible = false;
            $.ajax({
          type: "get",
          url: "http://localhost:80/dissolve?clubid=" + clubid +"&clubmaster="+ clubmaster+"&nick="+ nick ,
          data: "",
          dataType: "json",
          success: function (response) {
        alert(response.result);
window.location.reload();
          },
          error: function (err) {
           alert("解散操作失败");
           window.location.reload();
          }
        });
      },



      cancel: function () {
        this.dialogFormVisible = false;
        this.prompt = '';
      },

      show: function () {

        var that = this;
        var invitecode = that.form.invitecode;
        console.log(invitecode);
        $.ajax({
          type: "get",
          url: "http://localhost:80/isagent?invitecode=" + invitecode,
          data: "",
          dataType: "json",
          success: function (response) {
            if (response !== '') {
              if (response["result"][0]["daililevel"] !== 0) {

                that.prompt = '此玩家已经是代理,代理昵称:' + response["result"][0]["nick"] + "  代理等级:" + response["result"]
                  [0]["daililevel"];
              }
            }

          },
          error: function () {
            console.log("err");
          }
        });
      },

      //添加俱乐部
      addclub: function () {
        if (this.form.clubname == '') {
          alert("给你的公会起个好听的名字吧");
          return ;
        }if(this.form.clubmaster_id == ''){
          alert("请输入会长ID");
       return;
       } else {
          this.dialogFormVisible = false;
          $.ajax({
            type: "get",
            url: "http://localhost:80/addclub?clubname=" + this.form.clubname +"&clubmaster_id="+this.form.clubmaster_id,
            data: "",
            dataType: "json",
            success: function (response) {
              alert(response.result);
            },
            error: function () {
              console.log("err");
            }
          });
        }

      },

      //升级
      shengji(index, rows) {
        console.log(this.tableData[index].invitecode);
        console.log(index);
        $.ajax({
          type: "get",
          url: "http://localhost:80/jiangji?invitecode=" + this.tableData[index].invitecode,
          data: "uid=100029",
          dataType: "json",
          success: function (response) {
            rows.splice(index, 1);
          },
          error: function () {
            console.log("err");
          }
        });

      },

      //降级
      jiangji(index, rows) {
        console.log(this.tableData[index].invitecode);
        console.log(index);
        $.ajax({
          type: "get",
          url: "http://localhost:80/jiangji?invitecode=" + this.tableData[index].invitecode,
          data: "uid=100029",
          dataType: "json",
          success: function (response) {
            rows.splice(index, 1);
          },
          error: function () {
            console.log("err");
          }
        });

      },

      //解除
      jiechu: function (index, rows) {
        console.log(this.tableData[index].invitecode);
        console.log(index);
        $.ajax({
          type: "get",
          url: "http://localhost:80/jiechu?id=" + this.tableData[index].id,
          data: "uid=100029",
          dataType: "json",
          success: function (response) {
            rows.splice(index, 1);
          },
          error: function () {
            console.log("err");
          }
        });
      },
      check: function () {
        if (this.ruleForm.gameid && this.ruleForm.wechat) {
          this.dialogVisible = true;
        } else {
          alert("会长ID和俱乐部名称");
        }
      },

      onSubmit: function () {
        this.dialogVisible = false;
        $.ajax({
          type: "get",
          url: "http://localhost:80/myagent",
          data: '',
          dataType: "json",
          success: function (response) {
            console.log(url);
            //rows.splice(index, 1);
          },
          error: function () {
            console.log(this.url);
            console.log("err");
          }
        });


      },

      gohomeBtn: function () {
        this.$router.push('/');
      }
    },
    mounted: function () {
      var that = this;
      $.ajax({
        type: "get",
        url: "http://localhost:80/kf_club",
        data: '',
        dataType: "json",
        success: function (response) {
          console.log(response);
          that.tableData = response['result'];
        },
        error: function () {
          console.log(this.url);
          console.log("err");
        }
      });
    }
  }

</script>
<style>
  .el-message-box {
    width: auto;
  }

  span.he {
    color: cornflowerblue;
  }

  .el-dialog {
    width: 80% !important;
  }

</style>
