<template>
  <div class="main">
    <header data-am-widget="header" class="am-header am-header-default">
      <div class="am-header-left am-header-nav">
        <div v-on:click="gohomeBtn" class="">
          <img src="../assets/back.png">
        </div>
      </div>

      <h1 class="am-header-title">
        解除绑定
      </h1>
    </header>

    <el-form :model="ruleForm" status-icon :rules="rules" width="90%" ref="ruleForm" label-width="auto">
      <el-form-item label="游戏ID" prop="gameid">
        <el-input  @change='isplayerFunc' type="text" v-model="ruleForm.gameid" placeholder="请输入游戏ID" auto-complete="off"></el-input>
      </el-form-item>
      <span style="color:red;font-size:12px;">{{isplayer}}</span>
      <el-form-item label="微信号" prop="wechat">
        <el-input type="text" v-model="ruleForm.wechat" placeholder="请输入微信号" auto-complete="off"></el-input>
      </el-form-item>
      <el-form-item>
        <el-button type="primary" @click="check">解除绑定</el-button>
        <el-button>取消</el-button>
      </el-form-item>
    </el-form>
    <el-table :data="tableData" border style="width: 100%">
      <el-table-column class="visible" prop="invitecode" label="解除玩家" width="auto" style="display:none">
      </el-table-column>
      <el-table-column prop="daili"   label="解除上家" width="auto">
      </el-table-column>
      <el-table-column prop="unionkefu_id" label="操作客服" width="auto">
      </el-table-column>
      <el-table-column prop="create_time" label="时间">
      </el-table-column>
    </el-table>

    <!-- 提示框 -->
    <el-dialog title="" :visible.sync="dialogVisible" width="">
      <p>确定要解除游戏ID
        <span class="he">{{ruleForm.gameid}}({{result.playername}})</span> 和代理ID
        <span class="he"> {{result.dailiid}}({{result.dailiname}})</span> 的绑定？</p>
      <span slot="footer" class="dialog-footer">

        <el-button type="primary" @click="onSubmit">确 定</el-button>
        <el-button @click="dialogVisible = false">取 消</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
  export default {
    data() {
      return {
        tableData: [],
        isplayer:'',
        dialogVisible: false,
        visible: " display:  none;",
        result:{
          playername: '',
          dailiid:'',
          dailiname:''
        },
        ruleForm: {
          gameid: '',
          wechat: ''
        },
        rules: {
          gameid: [{
            required: true,
            message: '请输入游戏ID',
            trigger: 'blur'
          }, ],
          wechat: [{
            required: true,
            message: '请输入微信号',
            trigger: 'change'
          }]
        }
      }
    },

    methods: {
      isplayerFunc:function(){
        if(this.isplayer !== ''){
          this.isplayer = '';
        }
        let  that =  this;
        var  gameid = this.ruleForm.gameid;
       $.ajax({
          type: "get",
          url: "http://localhost:80/isplayer?invitecode=" +gameid,
          data: "",
          dataType: "json",
          success: function (response) {
            that.result.playername  =  response[0];
            that.result.dailiid      =  response[1];
            that.result.dailiname   =  response[2];
            console.log(response);
          },
          error: function (response) {

            that.isplayer = response.responseJSON.result;
            console.log(that.isplayer);
          }
        });

      },
      check: function () {
        if (this.ruleForm.gameid && this.ruleForm.wechat &&this.ruleForm.gameid.match(/[^\u0000-\u00FF]/) == null  &&  this.ruleForm.wechat.match(/[^\u0000-\u00FF]/) == null) {
          this.dialogVisible = true;
        } else {
          alert("请填写正确的游戏账号和密码");
        }
      },
      onSubmit: function(){
        var   gameid   = this.ruleForm.gameid;
        var  wechat  = this.ruleForm.wechat;
        this.dialogVisible = false;
        $.ajax({
          type: "get",
          url: "http://localhost:80/removebind",
        data: {"gameid":this.ruleForm.gameid,"wechat": this.ruleForm.wechat},
          dataType: "json",
          success: function (response) {
              if(response.result){
                alert(response.result);
              }
              window.location.reload();
            // rows.splice(index, 1);
          },
          error: function (response) {
           alert(response.responseJSON.result);
            window.location.reload();




          }
        });


      },
    //   deleteRow(index, rows) {


    //     console.log(this.tableData[index].id)

    //     console.log(index);
    //     $.ajax({
    //       type: "get",
    //       url: "http://localhost:80/removebind",
    //       data: {"gameid":this.ruleForm.gameid,"wechat": this.ruleForm.wechat},
    //       dataType: "json",
    //       success: function (response) {
    //           console.log(url);
    //         // rows.splice(index, 1);
    //       },
    //       error: function () {
    //         console.log("err");
    //       }
    //     });

    //   },
      gohomeBtn: function () {
        this.$router.push('/');
      }
    },
    mounted: function () {
      var that  = this;
   this.dialogVisible = false;
        $.ajax({
          type: "get",
          url: "http://localhost:80/dailibind_change_query",
        data: '',
          dataType: "json",
          success: function (response) {
              console.log(response.result);
      that.tableData =  response['result'];   
      
      
            // rows.splice(index, 1);
          },
          error: function (response) {
           alert(response.responseJSON.result);
           
          }
        });

    }
  }

</script>
<style>
.el-form-item{
    margin-bottom:0px;
}
  span.he {
    color: cornflowerblue;
  }

  .el-dialog {
    width: 80% !important;
  }

</style>
