
  <template>
  <div class="main">
     <header data-am-widget="header" class="am-header am-header-default">
      <div class="am-header-left am-header-nav">
        <div v-on:click="gohomeBtn" class="">
          <img src="../assets/back.png">
        </div>
      </div>

      <h1 class="am-header-title">
        提现订单
      </h1>
    </header>
  <el-table
      :data="tableData"
        border
      style="width: 100%">
       <el-table-column
       class="visible"
        prop="id"
        label="标识"
        width="auto"
       style ="display:none">
      </el-table-column>
      <el-table-column
        prop="create_time"
        label="提交时间"
        width="auto">
      </el-table-column>
      <el-table-column
        prop="dailiid"
        label="代理号"
        width="auto">
      </el-table-column>
      <el-table-column
        prop="dailiname"
        label="代理名">
      </el-table-column>
       <el-table-column
        prop="weixinhao"
        label="微信号"
        width="auto">
      </el-table-column>
       <el-table-column
        prop="cash"
        label="金额"
        width="auto">
      </el-table-column>
       <el-table-column
        prop="state"
        label="操作"
        width="auto">
        <template slot-scope="scope">
        <el-button
          @click.native.prevent="deleteRow(scope.$index, tableData)"
          type="text"
          size="small">
          移除
        </el-button>
      </template>
      </el-table-column>
    </el-table>
    </div>
  </template>

  <script>
    export default {
      data() {
        return {
          tableData:[],
          visible:" display:  none;"
        }
      },
      methods:{
       deleteRow(index, rows) {
          
          
          console.log(this.tableData[index].id)
      
      console.log(index);
            $.ajax({
      type: "get",
      url: "http://localhost:80/deleterows?id=" +this.tableData[index].id,
      data: "uid=100029",
      dataType: "json",
      success: function (response){
rows.splice(index, 1);
      },
      error:function(){
        console.log("err");
      }
    });

      },
        gohomeBtn: function(){
          this.$router.push('/');
        }
      },
      mounted:function(){
        var  that  =  this;
          $.ajax({
      type: "get",
      url: "http://localhost:80/tixianorder?uid=" + 100029,
      data: "uid=100029",
      dataType: "json",
      success: function (response) {
      that.tableData = response.result;
      },
      error:function(){
        console.log("err");
      }
    });

      }
    }
  </script>
  <style >

    .el-table_1_column_1.is-leaf{
          display: none;

   }
   .el-table_1_column_1{
        display: none;
   }   
  </style>
  