<template>
  <div id="app">
  
    <router-view/>
  </div>
</template>

<script>
export default {
  name: 'App'
//   mounted:{
// function(){
//   var socket = io('ws://103.31.201.154:5555');
// socket.on("connect",function(){
//   console.log("连接成功");
// });
// socket.on("data",function(data){

//   console.log(data);
// })

// }
//   }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  /* margin-top: 60px; */
}
</style>
